<!--------------------- footer page ---------------------->
<div data-ng-include="'views/header/_masterheader.html'"></div>
<style>
.margin {
		margin-bottom: 15px;
	}
	.img_style { position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;}
</style>
<!------------------- Banner ------------------>
<div data-ng-controller="vidManageNotesCtrl">
<div class="page_title">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
				Study Material
			</div>
		</div>
	</div>
</div>
<div class="container-fluid wrapper">
    <div class="row">
	    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12" ng-init="getNotes();getCourse();">
	    	<div id="getmessage">{{getmessage}}</div>
				<div class="row table_action">
    				<div class="col-md-12 col-sm-12 col-xs-12">
    					Select Course
	        				<select
					     		id="course"
					     		class="select_ctrl auto"
					     		name="course" 
					     		data-ng-model="searchcourse"
					     		data-ng-change="loadData(searchcourse)"
					     		>
	        					<option value="">Select Course</option>
				     			<option value="{{item.id}}" ng-repeat="item in courseArr">{{item.name}}</option>
	        				</select> &nbsp;
	        				
					   <input type="text" class="select_ctrl" ng-model="searchtext" placeholder="Title/Name">&nbsp;
					   <button type="button" ng-click="getNotes()">Search</button>
				     	   &nbsp;
				     	   <button type="button" ng-click="reset()">Reset</button>
				     	 
    				</div>
    				<div class="col-md-12 col-sm-12 col-xs-12 text-right">
    					   <button ng-click="openModal()">
		        				<i class="fa fa-plus"></i>&nbsp;&nbsp;Add New Notes
		        			</button>
    				</div>
    			</div>
	    		<table class="dashboard_tab notes_list_tab">
	        		<tr>
	        			<td align="left" width="2%">Sr.No</td>
	        			<td align="left" width="10%">Title</td>
	        			<td align="left" width="15%">File Name</td>
	        			<td align="left" width="10%">Course</td>
	        			
	        			
	        			<td align="left" width="30%">&nbsp;</td>
	        		</tr>
	        		<tr data-ng-repeat="notes in notesArr.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
	        			<td>{{($index + 1) + ((currentPage-1) * itemsPerPage)}}.</td>
	        			<td>{{notes.title}}</td>
	        			<td>{{notes.display_name}}</td>
	        			<td>{{notes.course}}</td>
	        			
	        			
	        			<td align="right">
							  <a ng-if="notes.type == 'url' || notes.type == 'doc'" href="{{notes.path}}" target="_blank">View</a>
							  <a href="javascript:;" ng-click="deleteNotes(notes.id)"><i class="fa fa-remove"></i></a>
	        			</td>
	        		</tr>
        		
        		</table>
        		<pagination 
				  ng-if="notesArr.length != 0"
			      ng-model="currentPage"
			      total-items="notesArr.length"
			      ng-click="pageChange(currentPage)"
			      max-size="maxSize" 
			      class="pagination-sm"
			      items-per-page="itemsPerPage" 
			      boundary-links="true">
				</pagination>
        		<div id="tablemessage">{{tablemessage}}</div>
	    </div>
	     
	</div>
</div>

<!------------------modal- add course ---------------->
<div id="add_new_notes" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
        	<div class="modal-header m_student_modal">
                <button class="close" data-dismiss="modal">X</button>
               <h4 class="modal-title m_student_title form"> {{formname}} </h4>
            </div>
            <div class="modal-body">
                <div class="row">
		     	<form angular-validator-submit="submitCreateNotes()" class="notes-form" id="notesForm" name="notesForm" novalidate angular-validator>	
		     	<div id="message">{{message}}</div>
		     	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				     		<label>Select Course<span class="mandatory">*</span></label>
				     		<select 
					     		class="dashboard_text" 
					     		id="course"
					     		name="course" 
					     		data-ng-model="notesDet.course"
					     		ng-change="loadChapter(notesDet.course)"
					     		required-message="'Please select course.'"
					     		required
					     		>
				     			<option value="">Select Course</option>
				     			<option value="{{item.id}}" ng-repeat="item in courseArr">{{item.name}}</option>
				     		</select>
				</div>
			
				
			     	<div class="col-md-12 margin">
			     		<label>Notes Title <span class="mandatory">*</span></label>
			     		<input 
				     		type="text" 
				     		name="cname" 
				     		placeholder="Notes Title"
				     		ng-model="notesDet.title" 
						    required-message="'Please enter notes title.'"
				     		class="dashboard_text" 
				     		validate-on="dirty"
				     		maxlength="100"
				     		required
				     		autocomplete="off"
			     		/>
			     	</div>
			     	
			     
			     	<div class="col-md-12 margin">
			     		<label>Upload Image,Pdf,Excel (jpg,jpeg,png,pdf,docx,txt,xls,xlsx) Files</label>
			     		<a class='btn btn-default' href='javascript:;'>
					     Browse
					     <input type="file" id="upddoc" ng-model="notesDet.upddoc" file-model="upddoc" name="upddoc" size="40" class="img_style" onchange='$("#upload_doc").html($(this).val());'>
						</a>
						&nbsp;<span id="upload_doc"></span>
				     	
			     	</div>
			     	
			   
			     	
			     	<div class="col-md-12">
			     		<input ng-show="edit" type="submit" name="" value="Edit Notes" class="dashboard_btn" />
			     		<input ng-show="add" type="submit" name="" value="Add Notes" class="dashboard_btn" />
		     		</div>
		     	</form>
	     	</div>
            </div>
        </div>
    
    </div>
</div>


  </div>
</div>

</div>

<!--------------------- footer page ----------------------->
<div data-ng-include="'views/footer/_masterfooter.html'"></div>  