<div data-ng-include="'views/header/_header.html'"></div>

<div ng-controller="vidCngPwdStudentCtrl">
<div class="page_title">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
				Change Password
			</div>
		</div>
	</div>
</div>
<section class="wrapper">
	<div class="container-fluid">
	    <div class="row" ng-init="getUsertype()">
	        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
			     <div class="course_block box_wrapper">
				<!--<h5 class="align_center note">Please enter the following information for change password.</h5>-->
				<div class="change_contact">
					<form class="change-form" angular-validator-submit="submitchangeForm()" name="changeForm" id="changeForm" novalidate angular-validator>
						<div id="changemessage">{{changemessage}}</div>
						
						<div ng-if="show"><label>Current Password</label>
                                <input 
						      	  type="password" 
						      	  id="oldpass"
						      	  placeholder="Current Password" 
						      	  class="static_text"
						      	  name="oldpassword" 
						      	  ng-model="changeDet.oldpassword" 
				                  required-message="'Please enter the current password.'"
				                  validate-on="dirty"
				                  required
				                  autocomplete=""
						      	  />
                        </div>
                        <div><label>New Password</label>
                                <input 
						      	  type="password" 
						      	  placeholder="New Password" 
						      	  class="static_text"
						      	  name="password" 
						      	  ng-model="changeDet.password" 
						      	  validator = "passwordValidator(changeDet.password) === true"
				                  invalid-message = "passwordValidator(changeDet.password)"
				                  required-message="'Please enter the new password.'"
				                  validate-on="dirty"
				                  required
				                  autocomplete="off"
						      	  />
                        </div>
                        <div><label>Confirm New Password</label>
                                <input  
                                type = "password"
	                            name = "confirmPassword"
	                            placeholder="Re-type New Password"
	                            class = "static_text"
	                            ng-model = "changeDet.confirmPassword"
	                            validator = "changeDet.password === changeDet.confirmPassword"
	                            validate-on="dirty"
	                            invalid-message = "'Passwords do not match!'"
	                            required-message="'Please enter the confirm new password.'"
	                            required>
                        </div>                           
						
						<input type="submit" class="dashboard_btn" value="Submit" />
					</form>
				</div>
				</div>
			</div>	
		</div>
	</div>
</section>

</div>

<div data-ng-include="'views/footer/_masterfooter.html'"></div>