<div data-ng-controller="vidFooterCtrl">
 
<section class="footer1_grey" data-ng-if='authcode === undefined'>
    <footer>
        <div class="top_footer hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="">
                            <h3>Quick Links</h3>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="">
                            <h3>Our Products</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="">
                            <h3> Mock Tests </h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="">
                            <h3>Contact Us</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle_footer hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul>
                            <a target="_blank" href="http://mockexam.org/universities"><li>Universities</li></a>
                            <a target="_blank" href="http://mockexam.org/colleges"><li>Colleges</li></a>
                            <a target="_blank" href="http://mockexam.org/joinus"><li>Join Us</li></a>
                            <a ui-sref='root.studfeedback'><li>Feedback</li></a>
                        </ul>
                        
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul>
                            <a target="_blank" href="http://www.mockexam.org"><li>mockexam</li></a>
                            <a target="_blank" href="http://jobs.mockexam.org"><li>JOBS PORTAL</li></a>
                            <a target="_blank" href="http://mockexam.mockexam.org"><li>MOCK EXAM</li></a>
                            <a target="_blank" href="http://studyabroad.mockexam.org"><li>STUDY ABROAD</li></a>
                           
                           
                        </ul> 
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul>
                            <a ui-sref='root.coursepage'><li>MHT-CET</li></a>
                            <a ui-sref='root.coursepage'><li>NEET</li></a>
                            <a ui-sref='root.coursepage'><li>JEE Mains</li></a>
                        </ul> 
     
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="footer_smallicons">
                            <a href="tel:9637960396"><li><i class="fa fa-phone-square"></i> &nbsp;+91 96379 60396</li></a>
                            <a href="tel:9637960396"><li><i class="fa fa-phone-square"></i> &nbsp;+91 96379 8160396400</li></a>
                            <a href="mailto:contact@mockexam.org"><li><i class="fa fa-envelope-square"></i> &nbsp;contact@mockexam.org</li></a>
                            <a href="mailto:info@mockexam.org"><li><i class="fa fa-envelope-square"></i> &nbsp;info@mockexam.org</li></a>
                          
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="middle_footer hidden-lg hidden-md " id="mobile_footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h3>Quick Links</h3>
                        <ul>
                            <a target="_blank" href="http://mockexam.org/universities"><li>Universities</li></a>
                            <a target="_blank" href="http://mockexam.org/colleges"><li>Colleges</li></a>
                            <a target="_blank" href="http://mockexam.org/joinus"><li>Join Us</li></a>
                            <a ui-sref='root.studfeedback'><li>Feedback</li></a>
                        </ul>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <h3> Mock Tests </h3>
                        <ul>
                            <a ui-sref='root.coursepage'><li>MHT-CET</li></a>
                            <a ui-sref='root.coursepage'><li>NEET</li></a>
                            <a ui-sref='root.coursepage'><li>JEE Mains</li></a>
                        </ul>
                    </div>
                     <div class="col-sm-6 col-xs-12">
                        <h3>Our Products</h3>
                        <ul>
                            <a target="_blank" href="http://www.mockexam.org"><li>MOCKEXAM</li></a>
                            <a target="_blank" href="http://jobs.mockexam.org"><li>JOBS PORTAL</li></a>
                            <a target="_blank" href="http://mockexam.mockexam.org"><li>MOCK EXAM</li></a>
                            <a target="_blank" href="http://studyabroad.mockexam.org"><li>STUDY ABROAD</li></a>
                    </div>
     
                    <div class="col-sm-6 col-xs-12">
                        <h3>Contact Us</h3>
                        <ul class="footer_smallicons">
                            <a href="mailto:contact@mockexam.org"><li><i class="fa fa-envelope-square"></i> &nbsp;contact@mockexam.org</li></a>
                            <a href="mailto:info@mockexam.org"><li><i class="fa fa-envelope-square"></i> &nbsp;info@mockexam.org</li></a>
                            
                            
                        </ul>
                       
                    </div>
                </div>
            </div>
        </div>


    	<div class="bottom_footer">
        	<div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-5 col-xs-12">
                        <ul class="bottom_vm_link">
                            <a href="javascript:;"  ui-sref='root.term&conditions'><li>Terms & Conditions</li></a>
                            <a href="javascript:;"  ui-sref='root.privacypolicy'><li>Privacy Policy</li></a>
                            <a href="javascript:;"  ui-sref='root.disclaimer'><li>Disclaimer</li></a>
                            <a href="javascript:;"  ui-sref='root.refund'><li>Refund & Cancellation</li></a>
                        </ul>
                   
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
                        <ul>
                           <!--  <li> Our Visitors : 123456 </li> -->
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12 text-right">
                        <ul>
                            <li> © Copyright <a target="_blank" href="http://www.mockexam.org">Mockexam</a> 2018. All Rights Reserved.</li>
                        </ul>
                    </div>
                </div>
        	</div>
    	</div>
    </footer>
</section>

</div>