<div data-ng-include="'views/header/_header.html'"></div>

<div data-ng-controller="vidDashboardCtrl">
<div ng-if="portal == 'main'">
  <section class="intro-contact vm_aboutusbanner">
  <div class="intro-body">
    <div class="container-fluid custompadding">
      <div class="row">
          <div class="col-md-12 text-center">
            <h4>ABOUT US</h4>
          </div>
          <h2>We are working here..</h2>
      </div>
    </div>
  </div>
</section>
</div>

</div>

<div data-ng-include="'views/footer/_footer.html'"></div>