<div data-ng-include="'views/header/_header.html'"></div>

<div data-ng-controller="vidDashboardCtrl">
<div ng-if="portal == 'main'">
<body>
    <section id="about" class="container content-section vm_disclaimer ">
	 <div class="row">
	 	<div class="col-md-12 col-lg-12 col-sm-12"><h3>Disclaimer</h3></div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p>Although every effort has been made to provide accurate content on these pages, neither mockexam.org nor employees/associates make any warranty, expressed or assumed, any legal liability or responsibility for the accuracy or completeness of any information contained on this site. mockexam.org cannot be held responsible for the career decisions taken by the users on the basis of the contents of any pages, referenced by them and/or an external link.</p>
            <p>Mail us at <a href="mailto:support@mockexam.org">support@mockexam.org</a></p>
        </div>

	</div>
	

    </section>



</body>

</div>

</div>

<div data-ng-include="'views/footer/_footer.html'"></div>