<!--------------------- header page ---------------------->
<div data-ng-include="'views/header/_header.html'"></div>

<div data-ng-controller="vidPaymentCtrl"><!-- define your controller here -->
<!------------------- Banner ------------------>
<section class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <div class="msg_success align_center">
                    <img src="images/red.png" alt="success" style="width: 70px;" />
                    <h2>Sorry!</h2>
                    <h5>Your transaction exams purchase has been failed. Please try again <a href="javascript:;" ui-sref="root.schuduled" class="go_to_msg">Try again</a></h5>
                </div>
            </div>
          </div>
    </div>
</section>
</div>
<!------------------- Footer ------------------->
<div data-ng-include="'views/footer/_footer.html'"></div> 
