\<!--------------------- header page ---------------------->
<div data-ng-include="'views/header/_header.html'"></div>

<div data-ng-controller="welcomeStudentJS"><!-- define your controller here -->
<!------------------- Banner ------------------>
<section class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <div class="msg_success align_center">
                    <img src="images/green.png" alt="success" style="width: 70px;" />
                    <h2>Thank you!</h2>
                    <h4>Your Exam has been Purchased successfully. <a href="javascript:;" ui-sref="root.studcourse" class="go_to_msg"></br>Click here to view exam.</a></h4>

                </div>
            </div>
          </div>
    </div>
</section>
</div>
<!------------------- Footer ------------------>
<div data-ng-include="'views/footer/_footer.html'"></div> 
